/* GLOBAL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL HEIGHT LAYOUT */
html,
body,
#root {
  width: 100%;
  height: 100%;
  background-color: var(--bg-main);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* REMOVE VITE CENTERING */
body {
  display: block;
}
